<nav>
    <div>
        <a href="{{ path('page_index_steam') }}" class="d-block">
            <img id="logo" src="/assets/images/logo.png" alt="Logo">
        </a>
        <img id="diamond" src="/assets/images/diam.png" alt="diamond"><br>
       <a class="position-relative" href="{{ path('page_index_steam') }}"> <img id="cadi" src="/assets/images/cadi.png" alt="cadi">
       {% if cart is defined and cart is not null and cart.cartItems | length > 0 %}
           <span style="text-decoration:none!important;position:absolute;top:-35px;right:-20px;"
                 class="badge badge-success">{{ cart.cartItems|length }}</span>
         {% endif %}
       </a><br>
        {% if app.user is not null %}
        <a style="text-decoration: none!important;" href="{{  path("page_form_steam") }}">
            ➕
        </a>
        {% endif %}
    </div>
    <div>
        {% if app.user is not null %}
        <img id="download" src="/assets/images/telech.png" alt="download"><br>
        <img id="param" src="/assets/images/param.png" alt="param"><br>
        {% endif %}
        {% if app.user is not null %}
            <a href="{{ path('app_logout') }}" class="d-block">
            <img id="compte"
                 style="filter: sepia(100) saturate(200) hue-rotate(37deg);"
                 src="/assets/images/compte.png" alt="compte">
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="d-block">
            <img id="compte"
                 style="filter: sepia(100) saturate(200) hue-rotate(291deg) saturate(200);"
                 src="/assets/images/compte.png" alt="compte">
            </a>
        {% endif %}
    </div>
</nav>