<section class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-8 position-relative mb-4">
            <div class="hero-header-img position-relative">
                {% if gameDisplay.pictures.first != false %}
                    <img src="{{ gameDisplay.pictures.first.url }}" alt="{{ gameDisplay.name }}" class="img-fluid">
                {% else %}
                    <img src="/assets/images/satisfactory.png" alt="satisfacotry">
                {% endif %}
            </div>
            <div class="hero-header-text">
                <h2>{{ gameDisplay.name }}</h2>
                <p>{{ gameDisplay.description }}</p>
                <div class="d-block d-sm-flex justify-content-between">
                    <div class="d-block d-sm-flex align-items-center">
                        <div class="avis-text me-4 mb-2 mb-sm-0">
                            <p class="m-0">Review 3,4K</p>
                            <div class="avis d-flex align-items-center">/<img src="/assets/images/emojione_star.png"
                                                                              alt="star" class="star ">
                                <img src="/assets/images/emojione_star.png" alt="star" class="star ">
                                <img src="/assets/images/emojione_star.png" alt="star" class="star ">
                                <img src="/assets/images/emojione_star.png" alt="star" class="star ">
                                <img src="/assets/images/emojione_star.png" alt="star" class="star disabled">
                            </div>
                        </div>
                        <div class="d-flex  mb-2 mb-sm-0">
                            <a href="{{ path('page_produit_steam', {slug: gameDisplay.slug}) }}"
                               class="btn btn-primary me-2">Get it now!</a>
                            <a href="{{ path('page_produit_steam', {slug: gameDisplay.slug}) }}"
                               class="btn btn-primary">+</a>
                        </div>
                    </div>
                        {% import "macros/pricing.macro.twig" as pricingMacro %}
                        {{ pricingMacro.pricing(gameDisplay.price, gameDisplay.promotion) }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            {% for img in gameDisplay.pictures %}
                {% if not loop.first and loop.index < 4 %}
                    <div class="mb-2 hero-header-img-small">
                        <img src="{{ img.url }}" alt="{{ gameDisplay.name }}" class="w-100">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>