{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/dist/main.css">
{% endblock %}

{% block body %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Hello {{ user.name }} !</h1>
            <p class="lead my-3">{{ troll }}</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>
    <!-- article -->
    <div class="row mb-2">
        {% for article in articles %}
            <div id="{{ article.guid }}" class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">{{ article.author }}</strong>
                        <h3 class="mb-0">{{ article.title }}</h3>
                        <div class="mb-1 text-muted">{{ article.pubDate|date("m/d/Y H:i:s") }}</div>
                        <p class="mb-auto">
                            {{ article.description|raw }}
                        </p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ article.thumbnail }}" alt="">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /article -->
{% endblock %}