{% extends 'base_steam.html.twig' %}
{% block body %}
    <main>
        <div class="container">
            {% include "includes/steam/top-menu.html.twig" %}
        </div>
        <div class="container-custom">
            <section class="container mt-5">
                <div class="row">
                    <div class="col-12 col-md-8 position-relative mb-3">
                        <div class="hero-header-img-small position-relative">
                            {% if game.pictures.first != false %}
                                <img src="{{ game.pictures.first.url }}" alt="{{ game.name }}">
                            {% else %}
                                <img src="/assets/images/satisfactory.png" alt="satisfacotry">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        {% for img in game.pictures %}
                            {% if not loop.first and loop.index < 4 %}
                                <div class="mb-2 hero-header-img-small">
                                    <img src="{{ img.url }}" alt="{{ game.name }}" class="w-100">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
        <div class="container-custom">
            <section class="container py-3">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
                    {% for img in game.pictures %}
                        <div class="col">
                            <div class="card card-game">
                                <div class="card-img-top">
                                    <img src="{{ img.url }}" class="w-100" alt="{{ game.name }}">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="slider mt-3">
                        <div class="current"></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container-custom">
            <section class="container py-3">
                <h1 class="text-uppercase">{{ game.name }}</h1>
                <p>{{ game.description }}</p>
                <div class="row  align-items-center justify-content-between">
                    <div class="col-12 col-md-3 mt-4">
                        <div class="avis-text me-4">
                            <p class="m-0">Review 3,4K</p>
                            <div class="avis d-flex align-items-center">
                                <img src="/assets/images/emojione_star.png" alt="star" class="star">
                                <img src="/assets/images/emojione_star.png" alt="star" class="star">
                                <img src="/assets/images/emojione_star.png" alt="star" class="star">
                                <img src="/assets/images/emojione_star.png" alt="star" class="star">
                                <img src="/assets/images/emojione_star.png" alt="star" class="star disabled">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-9 mt-4">
                        <div class="d-flex justify-content-end">
                            <div class="px-2">
                                {% import "macros/pricing.macro.twig" as pricingMacro %}
                                {{ pricingMacro.pricing(game.price, game.promotion) }}
                            </div>
                            <a href="{{ path('page_form_steam', {slug: game.slug}) }}"
                               class="btn btn-warning btn-lg me-2">Ajouter au panier !</a>
                            <a href="#game-suggestion" class="btn btn-primary btn-lg">Jeux
                                similaires</a>
                        </div>
                    </div>
                </div>
                <div class="row py-5 align-items-center">
                    <div class="col-12 col-md-5 mb-4">
                        <div class="bg-primary rounded">
                            <div class="caracteristique-line">
                                <img src="/assets/images/amis.png">
                                Solo, Multiplayers
                            </div>
                            <div class="caracteristique-line">
                                <img src="/assets/images/amis.png">
                                <ul>
                                    {% for genre in game.type %}
                                        <li>
                                            {{ genre.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="d-flex align-items-center justify-content-between caracteristique-line flex-wrap">
                                {% for platform in game.plateformes %}
                                    <div class="badge rounded-pill bg-dark m-1">{{ platform }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 mb-4">
                        {% if game.pictures.last != false %}
                            <img src="{{ game.pictures.last.url }}" alt="{{ game.name }}">
                        {% else %}
                            <img src="/assets/images/satisfactory.png" alt="satisfacotry">
                        {% endif %}
                    </div>
                </div>
                <section id="game-suggestion" class="game-suggestion">
                    <div class="d-block h3 pt-4 mb-4">Suggestion</div>
                    {% if similarGames|length <= 0 %}
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <div class=" text-muted p-3">Aucun jeu 😢</div>
                        </div>
                    {% else %}
                        <div class="w-100">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
                                {% for sgame in similarGames %}
                                    {% include 'includes/game-card.html.twig' with {'game': sgame} %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </section>
            </section>
        </div>
    </main>
{% endblock %}